$auditype-font-src: '../fonts' !default;

@at-root {

	@font-face {
		font-family: 'AudiTypeWide';
		src: url('#{$auditype-font-src}/AudiType-WideLight_4.03.woff2') format('woff2'),
		url('#{$auditype-font-src}/AudiType-WideLight_4.03.woff') format('woff'),
		url('#{$auditype-font-src}/AudiType-WideLight_4.03.ttf') format('truetype');
		font-weight: 300;
		font-stretch: 105%;
	}

	@font-face {
		font-family: 'AudiTypeWide';
		src: url('#{$auditype-font-src}/AudiType-WideNormal_4.03.woff2') format('woff2'),
		url('#{$auditype-font-src}/AudiType-WideNormal_4.03.woff') format('woff'),
		url('#{$auditype-font-src}/AudiType-WideNormal_4.03.ttf') format('truetype');
		font-weight: 400;
		font-stretch: 105%;
	}

	@font-face {
		font-family: 'AudiTypeWide';
		src: url('#{$auditype-font-src}/AudiType-WideBold_4.03.woff2') format('woff2'),
		url('#{$auditype-font-src}/AudiType-WideBold_4.03.woff') format('woff'),
		url('#{$auditype-font-src}/AudiType-WideBold_4.03.ttf') format('truetype');
		font-weight: 700;
		font-stretch: 105%;
	}

	// Audi Type Extended
	@font-face {
		font-family: 'AudiTypeExtended';
		src: url('#{$auditype-font-src}/AudiType-ExtendedNormal_4.03.woff2') format('woff2'),
		url('#{$auditype-font-src}/AudiType-ExtendedNormal_4.03.woff') format('woff'),
		url('#{$auditype-font-src}/AudiType-ExtendedNormal_4.03.ttf') format('truetype');
		font-weight: 400;
		font-stretch: 130%;
	}

	@font-face {
		font-family: 'AudiTypeExtended';
		src: url('#{$auditype-font-src}/AudiType-ExtendedBold_4.03.woff2') format('woff2'),
		url('#{$auditype-font-src}/AudiType-ExtendedBold_4.03.woff') format('woff'),
		url('#{$auditype-font-src}/AudiType-ExtendedBold_4.03.ttf') format('truetype');
		font-weight: 700;
		font-stretch: 130%;
	}
}
